@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background-image: linear-gradient(to right top, #071d3f, #084156, #3c6466, #72847b, #a4a69f);
  padding: 0px 14px;
  z-index: 99;
  transition: all 0.5s ease; }
  .sidebar .logo-img {
    height: 10%;
    width: 100%;
    object-fit: cover; }
  .sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative; }
    .sidebar .logo-details .logo_name {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      opacity: 0;
      transition: all 0.5s ease; }
    .sidebar .logo-details #btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
      transition: all 0.4s ease;
      font-size: 23px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease; }
  .sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: px;
    text-align: center;
    line-height: 60px; }
  .sidebar .nav-list-bar {
    margin-top: 20px;
    height: 100%;
    padding-left: 0rem; }
  .sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none; }
    .sidebar li .tooltip {
      position: absolute;
      top: -20px;
      left: calc(100% + 15px);
      z-index: 3;
      background: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: 0s; }
      .sidebar li .tooltip:hover {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%); }
    .sidebar li a {
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      align-items: center;
      text-decoration: none;
      transition: all 0.4s ease;
      background: #08364e84; }
      .sidebar li a:hover {
        background: #fff; }
      .sidebar li a .links_name {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s; }
  .sidebar input {
    font-size: 0px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #08364e84; }
  .sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    color: #fff;
    border-radius: 15px;
    align-items: center;
    height: 50px;
    display: flex;
    justify-content: center; }
    .sidebar .bx-search:hover {
      background: #fff;
      color: #08364e84; }
  .sidebar.open li a .sidebar:hover {
    background-color: green;
    color: #00ff37; }

.sidebar.open {
  width: 250px; }

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1; }

.sidebar.open .logo-img {
  object-fit: cover;
  object-position: center -50px;
  transition: all 0.5s ease; }

.sidebar.open li .tooltip {
  display: none; }

.sidebar.open input {
  font-size: 15px;
  padding: 0 20px 0 50px;
  width: 100%;
  transition: all 0.5s ease; }

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff; }

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto; }

.sidebar.open .nav-list-bar li a:hover {
  color: #0ce73c; }

.home-section {
  position: relative;
  background: #7bb19a77;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center; }

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px); }

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none; } }

.container {
  background-color: black; }
  .container .row {
    height: 280px;
    padding: 5px; }
    .container .row .col-6 {
      border: 1px solid black;
      background: lightgray; }
      .container .row .col-6 h2 {
        font-size: 20px;
        padding: 9px 0px; }
