@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(44, 39, 39);
}

#map {
    height: 100px;
    width: 100px;

}

header{
    display: flex;
    justify-content: end;
    

    padding: 5px;
}

.lista_nav{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    flex-direction: column;
    font-size: 20px;
    justify-items: left;

  
    
}

.lista_nav li a{
    text-decoration: none;
    color: bisque;
}

.abrir_menu, .cerrar_menu{
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.nav{

    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0,0 ,0 , .5);
}

.nav_visible{
    opacity: 1;
    visibility: visible;
}



.menuicon{
    width: 45px;
}

.cerrar_menu{
    justify-content: end;
}

.titulo{
    color: bisque;
    text-align: center;
}

.titulo_estados{
    color: bisque;
    margin-left: 5%;
    
    
}

.div_estados{
    box-shadow: 1px 1px 1px 1px white;
}

.div_Titulo_estados{
    background-color: #B48177;
}


table, th, td{
    color: bisque;
    border-collapse: collapse;
    
}

th, td{
    padding: 30px;
    align-items: center;
}


