@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(44, 39, 39);
}

#map {
    height: 300px;
    width: 600px;

}

.titulo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    font-size: 30px;
    
    
}



.map-text {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.BotN1:hover , .BotN1:focus, .BotN2:hover , .BotN2:focus, .BotN3:hover , .BotN3:focus, .BotN4:hover , .BotN4:focus, .BotN5:hover , .BotN5:focus{
    background-size: 100% 2px;
}

.BotN1, .BotN2, .BotN3, .BotN4, .BotN5{
    text-decoration: none;
    background-image: linear-gradient(pink, pink);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
        
}

.BotN1 a, .BotN2 a, .BotN3 a , .BotN4 a, .BotN5 a{
    color: white;
    text-decoration: none;
}


#Robots{
    text-decoration: none;
    background-color: none;
}

nav{
    width:max-content ;
    font-size: 20px;


}
  

.menu-horizontal{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}


.menu-horizontal, li, a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu-horizontal, li:hover{
    color: rgb(0, 0, 0);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(65, 65, 65);

}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}


