@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(44, 39, 39);
}

#map {
    height: 300px;
    width: 600px;

}

.titulo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    font-size: 30px;
}

.text {
    margin-right: 10%;
}

.map-text {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}